<section id="Contactame">
 <h2>¡Envíame un mensaje!</h2>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required placeholder="Su nombre">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="ejemplo@example.com">
        </div>

        <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="6" required placeholder="Mensaje"></textarea>
        </div>

        <button type="submit" class="submit-button">¡Enviar!</button>
    </form>
</section>