---
import Header from "./Header.astro";
import Sobremi from "./Sobremi.astro";
import Experiencia from "./Experiencia.astro";
import Proyectos from "./Proyectos.astro";
import Certificados from "./Certificados.astro";
import Contactame from "./Contactame.astro";
import "../styles/main.css";
import "../scripts/main.ts";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    
    
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio Sergio</title>
  </head>
  <body>
    <Header />
    <Sobremi />
    <Experiencia />
    <Proyectos />
    <Certificados />
    <Contactame />

     <script src="../scripts/main.ts"></script>
  </body>
</html>
